body{
    display: flex;
    margin: 0;padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}

h1{
    font-size: 200px;
    color: rgb(61, 121, 101);
}

